<center>
	<h1><%= @user.name %></h1>
</center>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <info>
				<% if @user.gravatar_file_name %>	
					<%= image_tag(@user.gravatar.url, :size => '75x75')%>
				<% else %>
        	<%= gravatar_for @user %>
				<% end %>
				
				<%= link_to "Edit Gravatar Image", edit_blah_path(@user) %>
        <ul>
    	<li><strong><u>Hometown:</u></strong> <%= @user.hometown %></li>
    	<li><strong><u>Beer of Choice:</u></strong> <%= @user.beer %></li>
    	<li><strong><u>Skill:</u></strong> <%= @user.skill %></li>
      </info>
    </ul>
     
    <%= render 'follow_form' if signed_in? %>
    <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>



