<tr>
  <td class="gravatar">
   <% if feed_item.user.gravatar_file_name %>	
					<%= image_tag(feed_item.user.gravatar.url, :width => '150')%>
				<% else %>
        	<%= link_to default %>
				<% end %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <info2>
        <ul>
    	<li><strong>Beer:</strong> <%= feed_item.newbeer %></li>
    	<li><strong>Grade:</strong> <%= feed_item.grade %></li>
    	<li><strong>Comments:</strong> <%= feed_item.content %></li>
    	</ul>
      </info2>
    
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>