<h3><b><u>Post a new beer!</u></b></h3>
<%= simple_form_for @micropost do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>
 <%= f.label :newbeer, "New Beer" %>
 </br>
  <%= f.text_field :newbeer %>
  <%= f.input :grade, :collection => ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F+", "F", "F-"]%>
  <%= f.label :content, "Comments" %>
  <%= f.text_area :content %>
  </br>
  <%= f.button :submit, "Cheers!"%>
 
<% end %>