<center>
	<h1><%= @event.name %></h1>
</center>
<table>
  <tr>
    <td>
      
   <%= render :partial => 'event_info' %>
   
   <% check_status_for_an_event(@event) do %>
       <%= render :partial => 'events_sign_up_form' %>
      <% end %>
   <% unregister_status_check(@event) do %>
		<%= link_to "Unregister", destroy_participation_path(@event) %>
   <% end %>
  <%= @event.participations.count %>
    </td>
  </tr>
</table>