<center>
	<h1>Tasting Events</h1>
</center>
<table>
	<tr>
		<td>
			<%= link_to event21, root_path %>
			<%= link_to event20, root_path %>
			<%= link_to event19, root_path %>
			<%= link_to event18, root_path %>
			<%= link_to event17, root_path %>
			<%= link_to event16, root_path %>
			<%= link_to event15, root_path %>
			<%= link_to event14, root_path %>
			<%= link_to event13, root_path %>
			<%= link_to event12, root_path %>
			<%= link_to event11, root_path %>
			<%= link_to event10, root_path %>
			<%= link_to event9, root_path %>
			<%= link_to event8, root_path %>
			<%= link_to event7, root_path %>
			<%= link_to event6, root_path %>
			<%= link_to event5, root_path %>
			<%= link_to event4, root_path %>
			<%= link_to event3, root_path %>
			<%= link_to event2, root_path %>
			<%= link_to event1, root_path %>
		</td>
	</td>
</table>