<center>
	<h1><u>Home</u></h1>
	</center>
<% if signed_in? %>
  <%= render 'shared/news' %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Post a new beer!</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  

  <p>
    Become part of our online beer tasting community!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>