<center>
	<h1><u>*Home</u></h1>
	</center>
<% if signed_in? %>
  <div id="recentmircoposts">
  	<% @mostrecentmicroposts.each do |m|%>
  		<%=truncate(m.content, :length =>5)%>
  		<%= link_to "microposts", micropost_path(m)%>
  	<%end%>
  </div>
  
  <info2>
  	<h2>Upcoming Events:</h2>
  		<% @mostrecentevents.each do |m|%>
  		<ul>
  		<%=image_tag(m.eventpic, :width => '200')%>
  		<li><%=truncate(m.name, :length =>100)%></li>
  		<li><%=truncate(m.description, :length =>200)%></li>
  		<li><%= link_to "Checkout", event_path(m)%></li>
  		</ul>
  	<%end%>
  </info2>
 
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
       <h2>Your Daily Feeds:</h2>
        <%= render 'shared/feed' %>
      </td>
      
    </tr>
  </table>
<% else %>
  

  <p>
    Become part of our online beer tasting community!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>